Body{
    text-align: center;
    color: rgb(3, 3, 3);
    background-color: rgba(223, 134, 18, 0.801);
}

.form {
    text-align: center;
    background-color: rgba(35, 13, 233, 0.692);
    margin: 50px;
    padding: 50px;
}

p {
    color: rgb(8, 8, 8);
    text-align: center; 
}

navbar {
    position: absolute;
    padding: 10px;
    display: table;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    top: 0;
}

@media only screen and (max-width:400px) {
    * {
        text-align: center;
    }
}